*{
	margin:0px;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    border-radius: 10px;
    background:#fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#900C3F;
}
/*formulario*/
form{
	display:none;
	position:fixed;
	z-index:60;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
}
.formulario{
	display:flex;
	flex-direction:column;
	width:50%;
	margin-right:auto;
	margin-left: auto;
	margin-top:0cm;
}
.formulario img{
	width:2in;
	height:2in;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:1cm;
	border-radius:50%;

}
.formulario input{
	width:80%;
	height:1cm;
	background:rgba(250, 250,250,0.9);
	margin-right: auto;
	margin-left:auto;
	box-shadow:0px 0px 10px 5px #F18585;
	margin-bottom:1cm;

}
.formulario textarea{
	min-width:80%;
	height:1in;
	margin-left:auto;
	margin-right:auto;
	resize:none;
	background:rgba(250, 250,250,0.9);
	box-shadow:0px 0px 10px 5px #F18585;
}
.formulario button{
	margin-left:auto;
	margin-right: auto;
	width:1in;
	margin-top:10px;
	box-shadow:0px 0px 10px 5px #F18585;
}
.logo{
	margin-top:0.5cm;
	width:2cm;
	border-radius:50%;
}
.fondo1{
	position:fixed;
	z-index:-2;
	width:100%;
	height:100%;

	

}
.navegador nav {
	display:flex;
	border-radius: 0 0 240px 50%/60px;
	width:50%;
	box-shadow:0px 10px 0px #F18585;
	align-items:baseline;
	
}

nav>ul{
	display:flex;
	list-style:none;
	margin-bottom:15px;
}
ul a{
	display:flex;
	background:#600226;
	margin-left:10px;
	text-decoration:none;
	color:#FFCAC2;
	padding:5px;

	
}
ul a:hover {
	background:#CCAFAF;
}
/*estilos del despegable*/

.despegable >div {
	display:none;
	background:#900C3F; 
	position:absolute;
	left:336px;
	z-index:4;
	list-style:none;
	width:2in;
	padding-right:auto;
}
.despegable  > div :hover{
	background:#CCAFAF;

}

/*menu quitado*/
.menu1{
	display:none;

}

.respuestas{
	display:flex;
	justify-content:space-around;
	color:#fff;
	font-family:verdana;
}
.cajas_personalizadas,.arreglos_personalizados,.articulos_para_fiestas{
	background:#000;
	opacity:0.8;
	word-wrap:break-word;
	width:50%;
	padding:0.9cm;
	margin:20px;
	margin-top:20%;
	text-align:center;
	box-shadow:5px 5px 5px #fff;
	
}

.principal_pie{
	margin-top:3.7cm;
	text-align:center;
}
.principal_pie p{
	font-size:3cm;
	color:#fff;
	background:rgba(0,0,0,0.5);
}
.principal_pie a{
	font-size:2cm;
	padding:1cm;
}
.fa-facebook-square{
	color:blue;
	background:#fff;
	border-radius:20%;
}
.fa-whatsapp{
	background:green;
	border-radius:40px;
	color:#fff;
}
.fa-instagram{
	background:linear-gradient( blue,#DE05A3 ,orange);
	border-radius:20px;
	color:#fff;
}
.fa-envelope{
	color:#fff;
	background:red;
	border-radius:20%;
}
.fa-times{
	display:none;
	font-size:2cm;
	color: red;
	
}
.decora img{
	width:100%;
	height:1in;
	
}
.somos{
	display:flex;
	flex-direction:column;
	margin:1in;




}
.pie{
	display:flex;
	width:100%;
	clip-path: inset(5% 3% 15% 10%);
	
	

}
.pies{
	display:flex;
	width:70%;
	box-shadow:0px  0px 30px 10px #900C3F;
	margin:auto;
	background:#fff;
	padding-right:35px;
	
}

.hola1{
	 font-size:2cm;
	 width:100%;
	 text-align: center;
	 font-family:castellar;

}
.hola1 b a{
	color:#900C3F;
}
.modal{
	display: none;
	position:fixed;
	z-index:100;
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,.8);
	

}
.img_modal{
	height:2in;
	border-radius:50%;
	box-shadow:0px 0px 0.5cm #36FF00;
}
.conte1 {
	height:auto;
	width:50%;
	font-size:16px;
	color:#600226;
	word-wrap:break-word;
	margin-left:auto;
	margin-right:auto;
	transform:translateY(0.5in);
	background:linear-gradient(#fff,#F18585);
	text-align: center;
}
.fa-backspace{
	color:#CCAFAF;
	font-size:1cm;
}
/*pagina cajas */
.texto_caja{
	text-align:center;
	font-size:2cm;
	margin-top:1in;
	color:#600226;
	background:rgba(250,250,250,0.7);
	width:50%;
	word-wrap:break-word;
	margin-left:auto;
	margin-right:auto;
	font-family:cursive;

}
.gallery{
	display:flex;
	margin-top:1.5in;
	flex-wrap:wrap;
	align-items:center;
	background:rgba(240, 128, 128,0.7);
	width: 100%;

}
.gallery  img{
	width:4in;
	height:4in;
	margin-left:1.3cm;
	border-radius:10%;
	

	

}
/*primer renderiazado*/

@media screen and (max-width:981px){
	.fa-times{
		display:flex;
	}
	#fa-times{
		width: 2cm;
	}
	.menu{
		display: none;
	}
	.navegador nav {
	border-radius: 0 0 240px 50%/60px;
	width:100%;
	}
	
	.menu1 {
		display:flex;
		font-size:1cm;
		color:#600226;
		position:relative;
		left:70%;
		top:-1cm;
	}
	.menu1 :hover{
		color:#CCAFAF;
	}
	nav>ul{
		display:flex;
		position:fixed;
		z-index:50;
		background:rgba(0,0,0,0.8);
		width:100%;
		height:100%;
		flex-direction:column;
		list-style:none;
	}
	ul a{
		display:flex;
		width:100%;
		height:2cm;
		background:#600226;
		text-decoration:none;
		color:#FFCAC2;
		margin-left:-1cm;
		font-size:1cm;

		
	}
	ul a:hover {
		background:#CCAFAF;
	}
	/*estilos del despegable*/

	.despegable >div {
		display:flex;
		background:#900C3F; 
		position:absolute;
		left:1cm;
		z-index:4;
		list-style:none;
		width:100% ;
		padding-right:auto;
	}
	.principal_pie p{
	font-size:1.5cm;
	
	
}
	.respuestas{
	display:flex;
	justify-content:space-around;
	color:#fff;
	flex-wrap:wrap;
	margin-top:1in;

}
.cajas_personalizadas,.arreglos_personalizados,.articulos_para_fiestas{
	background:#000;
	opacity:0.8;
	width:50%;
	padding:0.9cm;
	margin:20px;
	text-align:center;
	font-size:0.5cm;
	box-shadow:5px 5px 5px #fff;
	
}
	.somos{
		width:100%;
		margin:0px;
		
	}
	.pies{
		width:90%;
		align-items:center;
	}
	.somos b a{
		font-size:1cm;
	}
	.hola1{
		background:rgba(255, 255, 255,0.5);
	}
	.conte1 {
	width:85%;
	}
	/*paginas caja responsive*/
	.gallery{
	
	flex-direction:column;


}
	.gallery  img{
		flex-wrap:nowrap;
		margin-left:0px;
		width:3in;

	}
	.texto_caja{
	text-align:center;
	font-size:1cm;
	width:60%
	
	
}
}
@media screen and (max-width:395px){
	.menu1 {
		position:relative;
		left:60%;
		top:-1cm;
	}
	ul a{
		height:1.5cm;
		background:#600226;
		margin-left:-1cm;
		font-size:0.8cm;

		
	}
	.formulario{
	width:100%;
	


}
	.formulario input{
	width:90%;
	

}
.formulario textarea{
	width:90%;

}
}










 




